{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <div class="rich-text__blocks {{ section.settings.content_alignment }}">
        <h2
          class="rich-text__heading rte inline-richtext {{ section.settings.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ section.settings.shopify_attributes }}
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {{ section.settings.settings.heading }}
        </h2>
        <p
          class="rich-text__caption {{ section.settings.settings.text_style }} {{ section.settings.settings.text_style }}--{{ section.settings.settings.text_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ section.settings.shopify_attributes }}
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {{ section.settings.settings.caption | escape }}
        </p>
        <div
          class="rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ section.settings.shopify_attributes }}
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {{ section.settings.settings.text }}
        </div>
        <div
          class="rich-text__buttons{% if section.settings.settings.button_label != blank and section.settings.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ section.settings.shopify_attributes }}
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {%- if section.settings.settings.button_label != blank -%}
            <a
              {% if section.settings.settings.button_link == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ section.settings.settings.button_link }}"
              {% endif %}
              class="custom-button button{% if section.settings.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
            >
              {{- section.settings.settings.button_label | escape -}}
            </a>
          {%- endif -%}
          {%- if section.settings.settings.button_label_2 != blank -%}
            <a
              {% if section.settings.settings.button_link_2 == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ section.settings.settings.button_link_2 }}"
              {% endif %}
              class="custom-button button{% if section.settings.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
            >
              {{- section.settings.settings.button_label_2 | escape -}}
            </a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
